<div class = "encounter-index-wrapper">
  <div class = "encounters">
    <div class="header">
      <h1>ENCOUNTERS</h1>
    </div>
    <div class="information">
      <div class = "row">
        <% @encounters.each do |encounter| %>
          <div class = "encounter col-4">
            <div class = "margin-div">
              <a href="<%= campaign_encounter_path(@campaign, encounter) %>">
                <div class = "title">
                  <h3><%= encounter.title %></h3>
                </div>
                <div class = "description">
                  <p><%= encounter.description %></p>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <div class = "buttons">
        <%= link_to 'Generate New Encounter', new_campaign_encounter_path, class: 'home-button generate-button'%>
        <%= link_to 'Back', campaign_path(@campaign), class: 'home-button back'%>
      </div>
    </div>
  </div>
</div>
