<div class="home-handbook" data-controller="description-change">
  <div><h1 class="main-title-handbook">Handbook Sections<br> </h1></div>
  <div class="handbook-container">
    <div class="home-button-container">
    <%= link_to 'Spells', spells_path, class: 'home-handbook-button',
     'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
     'data-information': "As a magical adventurer, you have the ability to cast spells that can help you overcome challenges and defeat enemies. From unleashing bolts of lightning to summoning powerful creatures to aid you in battle, your knowledge of spells will be essential to your success. But be careful, as casting spells can be draining on your energy and can even backfire if not executed properly. So study your spellbook carefully and use your powers wisely." %>

    <%= link_to 'Classes', classes_path, class: 'home-handbook-button',
    'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
    'data-information': "Every adventurer must choose a class, which will determine their unique abilities and playstyle. Are you a fierce fighter, ready to charge into battle and take on any foe? Or perhaps a cunning rogue, able to sneak past traps and pick locks with ease? Maybe a wise cleric, calling on the power of the gods to heal your allies and smite your enemies? Each class has its own strengths and weaknesses, so choose carefully and let your inner hero shine." %>

    <%= link_to 'Races', races_path, class: 'home-handbook-button',
     'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
     'data-information': "In the world of D&D, there are many different races to choose from, each with their own rich history and culture. Will you play as a stout dwarf, known for their love of ale and their mastery of metalworking? Or perhaps a graceful elf, with an affinity for magic and a deep connection to the natural world? Maybe a fierce dragonborn, with scales as tough as steel and breath as hot as fire? Whatever your choice, embrace your heritage and let it guide you on your journey." %>

    <%= link_to 'Traits', traits_path, class: 'home-handbook-button',
     'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
     'data-information': "As you adventure through the world of D&D, you will gain traits that will help define your character personality and abilities. Whether you are naturally charismatic, quick-witted, or have a knack for survival in the wild, your traits will help you navigate the challenges that lie ahead. But be careful not to let your flaws hold you back, as every hero has their own weaknesses to overcome." %>

    <%= link_to 'Equipment', equipment_path, class: 'home-handbook-button',
     'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
     'data-information': "No adventurer is complete without their gear, and in D&D, there are countless weapons, armor, and tools to choose from. From the classic longsword to the exotic hand crossbow, each piece of equipment has its own strengths and weaknesses. But remember, your gear is only as good as your ability to use it, so take the time to train and hone your skills." %>

    <%= link_to 'Feats', feats_path, class: 'home-handbook-button',
      'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
      'data-information': "As you gain experience and become more powerful, you will have the opportunity to learn feats - special abilities that will set you apart from other adventurers. Whether it is the ability to cast spells without verbal or somatic components, or to dodge out of harm way with lightning-fast reflexes, your feats will make you a force to be reckoned with. But be careful not to overextend yourself, as using too many feats can leave you exhausted and vulnerable." %>

    <%= link_to 'Languages', languages_path, class: 'home-handbook-button',
     'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
     'data-information': "In the diverse world of D&D, there are countless languages to learn, each with its own unique alphabet and grammar. From the common tongue spoken by humans, to the ancient language of the elves, to the guttural dialects of goblinoids, knowing multiple languages can be a valuable asset in your travels. So take the time to study and learn new languages, and you may just unlock secrets that would have otherwise been lost to you." %>

    <%= link_to 'Proficiencies', proficiencies_path, class: 'home-handbook-button',
      'data-action': "mouseover->description-change#change mouseout->description-change#unchange",
      'data-information': "Finally, as you progress in your adventures, you will gain proficiencies - specialized skills that will set you apart from other adventurers. Whether it is the ability to track animals in the wilderness, or to pick the lock on a stubborn door, your proficiencies will be essential to your success. But be careful not to rely too heavily on them, as even the most skilled adventurer can be caught off guard." %>
  </div>
  <div class="description-container">
    <h2>Information Description</h2>
    <p data-description-change-target="descriptionlist">...</p>
  </div>
</div>
