<h1>Main Sections</h1>

<%= link_to 'Spells', spells_path  %>
<%= link_to 'Classes', classes_path  %>
<%= link_to 'Races', races_path  %>
<%= link_to 'Traits', traits_path  %>
<%= link_to 'Equipment', equipment_path  %>
<%= link_to 'Feats', feats_path  %>
<%= link_to 'Languages', languages_path  %>
<%= link_to 'Proficiencies', proficiencies_path  %>
