<div class = "race-index-container">
  <div class="classes-container">
    <div class= "row">
      <% @races.each do |r| %>
        <div class = "col-3 races" >
            <div class = "information">
              <div class = "name">
                <h1><%= r.name %></h1>
              </div>
              <div class = "description"><p><strong>Alignment:</strong> <%= r.alignment %></p></div>
              <div class = "hit-die"><p><strong>Hit Die:</strong><%= r.size_description %></p></div>
            </div>
            <div class = "button">
              <%= link_to "READ MORE", races_show_path(r), class: 'races-button' %>
            </div>
      </div>
      <% end %>
    </div>
  </div>
  <%= link_to "Back", handbook_path, class: 'back-button'%>
</div>
