<div class="spell-home">
  <div class="spell-main-container">
    <div class="spell-home-left">
      <div class="search-bar">
        <%= form_tag spells_path, method: :get, remote: false, id: "search-form" do %>
          <div class="form-group">
            <%= label_tag :search, "Search spells" %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Enter spell name" %>
          </div>
          <div class="form-group">
            <%= label_tag :lvl, "Level" %>
            <%= select_tag :lvl, options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9"]), class: "form-control", include_blank: true %>
          </div>
          <div class="form-group">
            <%= label_tag :casting_time, "Casting Time" %>
            <%= select_tag :casting_time, options_for_select(["1 action", "1 bonus action", "1 reaction", "1 minute", "10 minutes", "1 hour", "8 hours", "12 hours", "24 hours"]), class: "form-control", include_blank: true %>
          </div>
          <div class="form-group">
            <%= label_tag :duration, "Duration" %>
            <%= select_tag :duration, options_for_select(["Instantaneous", "1 round", "1 minute", "10 minutes", "1 hour", "8 hours", "24 hours", "7 days", "Until dispelled"]), class: "form-control", include_blank: true %>
          </div>
          <div class="form-group">
            <%= label_tag :range, "Range" %>
            <%= select_tag :range, options_for_select(["Self", "Touch", "5 feet", "10 feet", "15 feet", "20 feet", "30 feet", "60 feet", "90 feet", "120 feet", "150 feet", "300 feet", "500 feet", "1 mile", "5 miles", "Unlimited"]), class: "form-control", include_blank: true %>
          </div>
          <div class="form-group">
            <%= label_tag :dmg_type, "Damage Type" %>
            <%= select_tag :dmg_type, options_for_select(["Acid", "Bludgeoning", "Cold", "Fire", "Force", "Lightning", "Necrotic", "Piercing", "Poison", "Psychic", "Radiant", "Slashing", "Thunder", "Healing"]), class: "form-control", include_blank: true %>
          </div>
          <%= submit_tag "Search", class: "btn btn-primary", id: "search-button" %>
        <% end %>
      </div>
    </div>

    <div class="spell-home-right">
      <div id="search-results">
        <%= render partial: "handbook/spells_list", locals: { spells: @spells } %>
      </div>
      <div class="column-titel">
        <%= will_paginate @spells , previous_label: '' %>
      </div>
    </div>
  </div>
  <%= link_to "Back", handbook_path, class: 'back-button'%>
</div>
