 <div class="home">

    <div class="home-banner">
     <div class="content">
        <h2>Start a new<br>Journey</h2>
        <p class="slogan">-Learn, Play & Repeat-</p>
        <%= link_to 'Join Now',  new_user_registration_path, class: 'home-button' %>
      </div>
    </div>

  <div class="home-block">
   <div class="home-block-left">
     <h2>Create your Character</h2>
     <div class="home-block-text-container">
       <p>Choose between the old fashioned way or our AI tool, to create your character in detail.</p>
       <% if Campaign.last %>
          <%= link_to 'Create', campaign_characters_path(Campaign.last), class: 'home-button' %>
       <% else %>
          <%= link_to 'Create', new_campaign_path, class: 'home-button' %>
       <% end %>
     </div>
   </div>
   <div class="home-block-midle">
     <h2>Use our Handbook</h2>
     <div class="home-block-text-container">
       <p>Either as a new player or as a retired veteran, here you can read all about DnD.</p>
       <%= link_to 'Read', handbook_path, class: 'home-button' %>
     </div>
   </div>
      <div class="home-block-right">
     <h2>Style your Journey</h2>
     <div class="home-block-text-container">
       <p>Bring your game to the next level, with our image generation tools.</p>
       <% if Campaign.last %>
          <%= link_to 'Create', campaign_images_path(Campaign.last), class: 'home-button' %>
       <% else %>
          <%= link_to 'Create', new_campaign_path, class: 'home-button' %>
       <% end %>
     </div>
   </div>
  </div>

</div>
