<div class = "image-all-container">
  <div class = "all-information">
    <div class = "buttons">
      <div class = "new-image">
        <%= link_to 'Generate New Image', new_campaign_image_path, class: 'home-button' %>
      </div>
      <div class = "back">
        <%= link_to 'Back', campaign_images_path(@campaign), class: 'home-button' %>
      </div>
    </div>
    <div class = "row">
      <% @images.each_with_index do |i, index| %>
      <div class = "col-3 image-container">
        <div class = "margin-div">
          <div class = "image-card">
            <%= cl_image_tag i.photo.key, fetch_format: :auto, crop: :fill %>
          </div>
          <div class = "description">
            <h4><%= i.prompt %></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class = "buttons">
      <div class = "new-image">
        <%= link_to 'Generate New Image', new_campaign_image_path, class: 'home-button' %>
      </div>
      <div class = "back">
        <%= link_to 'Back', campaign_images_path(@campaign), class: 'home-button' %>
      </div>
    </div>
  </div>
</div>
